.site-footer,
.wp-spacer {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  text-align: center;
  font-size: 11px;
  color: var(--primary-text-color);
}

.site-footer {
  position: relative;
  line-height: 28px;
}

.site-footer a {
  list-style: none;
  margin: 0 0 1.5rem 0;
  padding: 0;
  line-height: 2;
  color: var(--primary-text-color);
}

.site-footer a:hover {
  background-color: #ff04b3;
  color: #fff;
}
